* {
  padding: 0;
  margin: 0;
}

#myCanvas {
  display: none;
  height: 100%;
  width: 100%;
}

body {
  padding: 20px;
}

#menuOverlayStarting {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  top: 0.001%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 10px;
}

#menuOverlayPaused {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: none;
}

#menuOverlayTryAgain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 30px;
  display: none;
}

#menuOverlayWin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: none;
}

.controls {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.titleHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: red;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
}

.arrows,
.spacebar,
.letterP,
.wasd {
  height: 150px;
  border-radius: 20px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}

.startButton {
  padding: 20px;
  font-size: 38px;
  border-radius: 20px;
  color: white;
  background-color: red;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.startButton:hover {
  background-color: #2980b9;
  color: #ffffff;
  cursor: pointer;
}

.goal {
  font-size: 25px;
  color: blue;
  /* text-shadow: 1px 1px 1px white; */
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.playAgainButton {
  padding: 20px;
  font-size: 38px;
  border-radius: 20px;
}

.resumeButton {
  height: 80px;
  width: 210px;
}

.tryAgainButton {
  height: 80px;
  width: 210px;
}

.keys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controlsWord {
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 5px 10px;
}

.trophy {
  height: 250;
}
