#myCanvas {
  width: 100%;
}

#menuOverlayStarting {
  position: absolute;
  top: 0.1%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

#menuOverlayPaused {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: none;
}

#menuOverlayTryAgain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 30px;
  display: none;
}

#menuOverlayWin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  display: none;
}

.controls {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.titleHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: red;
  font-weight: bold;
}

.arrows,
.spacebar,
.letterP,
.wasd {
  height: 270px;
}

.startButton {
  padding: 20px;
  font-size: 38px;
  border-radius: 20px;
  color: white;
  background-color: red;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.startButton:hover {
  background-color: #2980b9;
  color: #ffffff;
  cursor: pointer;
}

.goal {
  font-size: 40px;
  color: #2980b9;
}

.playAgainButton {
  padding: 20px;
  font-size: 38px;
  border-radius: 20px;
}

.resumeButton {
  height: 100px;
  width: 210px;
}

.tryAgainButton {
  height: 100px;
  width: 210px;
}

.keys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controlsWord {
  font-size: 35px;
  font-weight: bold;
}
